/* LeaveSummary.css */

.leave-summary {
    padding: 20px;
}

.leave-summary h2 {
    text-align: center;
    margin-bottom: 20px;
}

.leave-summary .employee-info {
    margin-bottom: 20px;
}

.leave-summary .employee-info p {
    margin: 5px 0;
}

.leave-summary .leave-summary-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.leave-summary .leave-summary-table th,
.leave-summary .leave-summary-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.leave-summary .leave-summary-table th {
    background-color: #f2f2f2;
}
/* 
.leave-summary .sick-leave {
    color: blue;
    font-weight: bold;
}

.leave-summary .pto-leave {
    color: green; 
}

.leave-summary .employee-info .pto-leave {
    color: green; 
}
.leave-summary .other-leave {
    color: rgb(244, 166, 98); 
} */
.employee-info{
    display: flex;
    justify-content: space-between;
}